<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' content='width:device-width, initial-scale:1.0'/>
        <title>QRCode Gen</title>
        <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} "/>
    </head>
    <body>
        <div class="container">
            <form class="form" action="/makeQr" method="POST" accept-charset="utf-8">
                <input type="text" name="data" class="text-area" id="data" placeholder="Enter the Text or URL" autocomplete="off"/>
                <input type="submit" name="submit" class="text-area" id="submit" value="Submit" />
            </form>
            <div class="output">
                <!--Output here-->
                <img class="qr" src=" {{url_for('static', filename='image.jpg')}} " alt="qrcode" />
            </div>
        </div>
    </body>
</html>